<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dixq.partyphotoslideshow">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.dropbox.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Dropbox OAuth2 PKCE 用 AuthActivity -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:exported="true">
            <!-- targetSdk 33 以上の一時回避用フィルタ → SDK の README 参照 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="@string/dropbox_app_key_scheme"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>